{% extends "app/base.html"  %}

{% block title %} 游戏信息 {% endblock %}

{% block maincontent %}

<h2 class="sub-header">游戏信息</h2>
<dl class="dl-horizontal">
  <dt>游戏名</dt>
  <dd>{{ game.name }} </dd>


  <dt>Logo</dt>
  <dd><div class="row">
  <div class="col-xs-3 col-md-3">
    <a href="{{ game.logo.url }}" class="thumbnail">
      <img src="{{ game.logo.url }}">
    </a>
  </div>
</div>
</dd>

 <dt>轮播图</dt>
  <dd><div class="row">
  <div class="col-xs-8 col-md-3">
    <a href="{{ game.rotation.url }}" class="thumbnail">
      <img src="{{ game.rotation.url_800x200 }}">
    </a>
  </div>
</div>
</dd>

  <dt>下载地址</dt>
  <dd>{{ game.download }}</dd>

 <dt>分类</dt>
 <dd>{{ game.category }}</dd>

 <dt>创建时间</dt>
 <dd>{{ game.ctime }}</dd>

 </dl>

{% endblock %}
