{% extends "app/base.html" %}
{% load staticfiles %}
{% block title %} 轮播图列表 {% endblock %}

{% block maincontent %}

<h2 class="sub-header">轮播图列表</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>logo</th>
                  <th>名称</th>
                  <th>类别</th>
                  <th>下载地址</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% if rotations %}
                 {% for game in rotations %}
                <tr>
                  <th>{{ forloop.counter }}</th>
                  <th><img src="{{ game.logo.url_40x40 }}" class="img-rounded"></th>
                  <th><a href="{% url 'app:game_detail' game.id %}">{{ game.name }}</a></th>
                  <th>{{ game.category }}</th>
                  <th>{{ game.download }}</th>
                  <th><button type="button" class="btn btn-danger btn-sm unstar" id="{{ game.id }}" >Unstar</button></th>
                </tr>
                {% endfor %}
              {% endif %}
              </tbody>
            </table>
          </div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/star.js' %}"></script>
{% endblock %}
